.search-bar {
	height: 45px;
	font-size: 20px;
}

.dropdown-menu {
	margin-left: 15px;
}

.direction {
	text-align: center;
}

body {
	overflow: hidden;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.cover-heading {
	font-size: 35px;
}

.question {
	padding-bottom: 15px;
}

.topmeals {
	top:-100px;
	padding-bottom: 15px;
}